<div class="container">
    <div class="menu" [ngClass]="{'collapsed': isMenuCollapsed}">
        <button (click)="toggleMenu()">Menu</button>
    </div>
    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
           <tr *ngFor="let item of data | paginate: { itemsPerPage:5, currentPage: p}">
           <!-- <tr *ngFor="let item of data ">-->
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
                <td>{{item.city}}</td>
            </tr>
        </tbody>
        </table>
     <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>